.titulo-productos{
    font-size: 1.5rem;
    font-weight: bold;
}
.etiqueta{
    color: var(--color-texto);
}
.entrada-dato{
    width: 99%;
    border: var(--color-de-fondo);
}

.descripcion{
    font-family: 'Roboto', sans-serif;
    height: 4rem;
}

/*---Tablet---*/
@media only screen and (min-device-width: 768px) and (max-device-width: 980px) {
    .form-login{
        width: 45%;
    }
}

/*---Mobile---*/
@media only screen and (max-device-width: 767px) {
    .busqueda{
        width: auto;
    }
    .lupa{
        margin: 0;
    }
}