/*--All--*/
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 1rem auto;
}
button{
    width: 9rem;
    height: 2.5rem;
}
button:hover{
    cursor: pointer;
}
.boton-blanco{
    color: var(--color-azul);
    border-color: var(--color-azul);
    background-color: var(--color-de-fondo);
}

.boton-blanco:hover{
    color: var(--color-de-fondo);
    background-color: var(--color-azul);
    
}
label{
    display: block;
    margin: .5rem 0;
}
a{
    text-decoration: none;
    color: var(--color-azul);
    font-weight: bold;
}
a:hover{
    cursor: pointer;
}
/*--Header--*/

.busqueda{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}
.texto-logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.alura{
    color: var(--color-azul);
    margin-left: .5rem;
}
.geek{
    color: black;
    margin-right: 2rem;
}
.input-busqueda{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 15rem;
    background-color: var(--background);
    border: none;

}
.lupa{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;  
    width: 2.5rem;  

}

.login{
    color: var(--color-azul);
    border-color: var(--color-azul);
    background-color: var(--color-de-fondo);
}

.login:hover{
    color: var(--color-de-fondo);
    background-color: var(--color-azul);
    
}
/*--Area de banner*/
.cont-banner{
    display: block;
    color: var(--color-de-fondo);
}

.banner{
    background-image: url(../img/banner.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    align-content: center;

}

.titulo{
    font-size: 52px;
    font-weight: bold;
    padding-top: 12%;
    padding-bottom: 1rem;
}
.subtitulo{
    font-size: 32px;
    padding-bottom: 1rem;
}
.boton-banner{
    background-color: var(--color-azul);
    border-color: var(--color-azul);
    color: var(--color-de-fondo);
}
.boton-banner:hover{
    background-color: var(--color-de-fondo);
    color: var(--color-azul);
}

/*--Seccion de productos--*/
.container-seccion{
    border-top: 3.5px solid var(--background);
    width: 100%;
    margin: 1rem 0;
}
.encabezado-seccion{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.titulo-seccion{
    font-size: 32px;
    font-weight: bold;
    color: var(--color-texto);
}
.contenido-seccion{
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.tarjeta-seccion{
    width: 16.66%;
}
.imagen-producto{
    margin-top: 1rem;
    width: 85%;
    margin-left: 7.5%;
}
.descripcion-producto{
    display: block;
    width: 100%;
    margin-left: 7.5%;
    margin-bottom: 1rem;
}
.precio{
    font-weight: bold;
}

/*--Area de contacto--*/
.contacto{
    background-color: var(--background-contacto);
}
.container-contacto{
    width: 100%;
    margin: 3rem 0;
    display: flex;
}
.contacto-logo{
    width: 28%;
}
.contacto-sobreNosotros{
    width: 28%;
}

.link-contacto{
    display: block;
    color: var(--color-texto);
    padding: .8rem 0;
    font-weight: lighter;
}



.contacto-formulario{
    width: 44%;
}
.formulario{
    width: 100%;
}

.elemento-formulario{
    width: 100%;
    background-color: var(--color-de-fondo);
    margin: 1rem 0;
    font-family:'Roboto', sans-serif;
}
.elemento-formulario>label{
    font-size: 14px;
}
.nombre{
    width: 99%;
    border: none;
}

.mensaje{
    width: 99%;
    border: none;
}
.mensaje::placeholder{
    font-family:'Roboto', sans-serif;;
}
.boton-enviar{
    background-color: var(--color-azul);
    border-color: var(--color-azul);
}
.boton-enviar:hover{
    background-color: var(--color-de-fondo);
}

.rodapie{
    text-align: center;
    margin-bottom: 1.5rem;
}


